<footer>

    
    <div class="footer-all">
            <div class="footer-img">
                <img src="../assets/images/logo.svg" alt="" >
            </div>
            <div class="footer-info">
                <h3>Arzu.kg</h3>
                 <p><a href="">arzukg@gmail.com</a></p>
                 <p><a href="http://arzu.kg/">http://arzu.kg/</a></p>
            </div>
            <div class="footer-menu">
                <h3>Наше меню </h3>
                <p>Завтрак</p>
                <p>Обед</p>
                <p>Ужин</p>
            </div>
            <div class="footer-information">
                <h3>Информация</h3>
                <p>О нас</p>
                <p>Отзывы</p>
                <p>События</p>
            </div>
            <div class="footer-links">
                <h3>Ссылки</h3>
                <p>Сервисы</p>
                <p>Служба поддержки</p>
                <p>Условия</p>
            </div>
            <div class="footer-social">
                <h3>Социальные Сети</h3>
                 <p><a href="https://www.facebook.com/arzu.bishkek/">Facebook</a></p>
                 <p><a href="https://www.youtube.com/channel/UC1leCy0_BzXTb3QhzlGtjuQ/videos">Youtube</a></p>
                 <p><a href="https://www.instagram.com/arzu_restaurants/">Instagram</a></p>
        </div>
     
    </div>
</footer>
